absl-py==0.5.0
alabaster==0.7.7
apt-clone==0.2.1
apt-xapian-index==0.47
astor==0.7.1
attrs==19.1.0
Babel==1.3
backcall==0.1.0
bleach==3.1.0
blinker==1.3
Brlapi==0.6.4
chardet==2.3.0
Click==7.0
command-not-found==0.3
cryptography==1.2.3
cycler==0.10.0
decorator==4.3.0
defer==1.0.6
defusedxml==0.5.0
dirspec==13.10
dj-database-url==0.5.0
Django==2.1.5
docutils==0.12
entrypoints==0.3
Flask==1.0.2
Flask-WTF==0.14.2
gast==0.2.0
grpcio==1.15.0
gunicorn==19.9.0
h5py==2.8.0
html5lib==0.9999999
httplib2==0.9.1
idna==2.0
inflection==0.3.1
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
jedi==0.13.3
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterthemes==0.20.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Kivy==1.10.1
kiwisolver==1.0.1
lesscpy==0.13.0
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
more-itertools==5.0.0
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.2
oauthlib==1.0.3
onboard==1.2.0
oneconf==0.3.9
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==3.1.2
piston-mini-client==0.7.5
ply==3.11
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==3.4.2
ptyprocess==0.6.0
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
Pygments==2.3.1
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
pyparsing==2.3.1
pyrsistent==0.14.11
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.7.5
python-debian==0.1.27
python-xapp==1.0.0
python-xlib==0.14
pytz==2018.9
pyxdg==0.25
pyzmq==17.1.2
qtconsole==4.4.3
Quandl==3.4.5
reportlab==3.3.0
requests==2.9.1
roman==2.0.0
rope-py3k==0.9.4.post1
scikit-learn==0.20.2
scipy==1.2.1
screen-resolution-extra==0.0.0
seaborn==0.9.0
Send2Trash==1.5.0
sessioninstaller==0.0.0
setproctitle==1.1.8
six==1.11.0
sklearn==0.0
Sphinx==1.3.6
sphinx-rtd-theme==0.1.9
spyder==2.3.8
statsmodels==0.9.0
system-service==0.3
tensorboard==1.7.0
tensorflow==1.7.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thin-client-config-agent==0.8
tornado==5.1.1
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.13.1
virtkey==0.63.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whitenoise==4.1.2
widgetsnbextension==3.4.2
WTForms==2.2.1
xkit==0.0.0
psycopg2==2.7.2