<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Communities for Women</title>
        <meta charset="UTF-8">
        <meta name="description", content="List of communities for empowering women">
        <meta name="author", content="Himanshu">
        <meta http-equiv="Content-Type" content="text/html">
    </head> 
    <body>
	    <h1>Women Communities</h1>
		<br>
        <table class="table table-striped">
            <thead>
				<tr>
				<th scope="col">List of Women Communities in STEM</th>
				<th scope="col">Join Community</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>community.anitab.org</td>
					<td>
						<a class="btn btn-primary" href="https://community.anitab.org/register/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>African women in mathematics association</td>
					<td>
						<a class="btn btn-primary" href="http://africanwomeninmath.org/user/register" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>She codes for change</td>
					<td>
						<a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSdb0iSLgJgshQMVhod_KT9Zbrgf2U1boNi9GR7cYG2s9uWHew/viewform?c=0&w=1" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>She codes Africa</td>
					<td>
						<a class="btn btn-primary" href="https://medium.com/shecodeafrica" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Pehia Foundation</td>
					<td>
						<a class="btn btn-primary" href="https://chat.whatsapp.com/invite/2PVHCGe7u9nDOe8g5cZoCP" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>WAAW Foundation</td>
					<td>
						<a class="btn btn-primary" href="http://waawfoundation.org/become-a-member/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Connecting African Women in STEM</td>
					<td>
						<a class="btn btn-primary" href="http://connectingafricanwomeninstem.org/get-connected/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Girls Coding</td>
					<td>
						<a class="btn btn-primary" href="http://www.girlscoding.com.ng/programs.html" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women in Tech Africa</td>
					<td>
						<a class="btn btn-primary" href="http://www.womenintechafrica.com/registration/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women Techmakers</td>
					<td>
						<a class="btn btn-primary" href="https://services.google.com/fb/forms/joinwomentechmakers/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Girls Who Code</td>
					<td>
						<a class="btn btn-primary" href="https://girlswhocode.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>DjangoGirls</td>
					<td>
						<a class="btn btn-primary" href="https://djangogirls.org/organize/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Pyladies</td>
					<td>
						<a class="btn btn-primary" href="https://www.pyladies.com/locations/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women Who Code</td>
					<td>
						<a class="btn btn-primary" href="https://www.womenwhocode.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women Who Go</td>
					<td>
						<a class="btn btn-primary" href="https://membership.womenwhocode.com/email" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>ProjectCSgirls</td>
					<td>
						<a class="btn btn-primary" href="https://www.projectcsgirls.com/take-action" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>SHEROES</td>
					<td>
						<a class="btn btn-primary" href="https://sheroes.com/communities" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>The Girl Code</td>
					<td>
						<a class="btn btn-primary" href="https://learn.thegirlcode.co/signup" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Ladies Love STEM</td>
					<td>
						<a class="btn btn-primary" href="https://ladieslovestem.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Infosec girls</td>
					<td>
						<a class="btn btn-primary" href="https://www.infosecgirls.in/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women in Web Dev</td>
					<td>
						<a class="btn btn-primary" href="https://womeninwebdev.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Pakistani Women in Computing</td>
					<td>
						<a class="btn btn-primary" href="https://pwic.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women in Machine Learning and Data Sceince</td>
					<td>
						<a class="btn btn-primary" href="http://wimlds.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>LinuxChix</td>
					<td>
						<a class="btn btn-primary" href="https://www.linuxchix.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>


			</tbody>
		</table>
    </body>
</html>
