<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Communities for Women</title>
        <meta charset="UTF-8">
        <meta name="description", content="List of communities for empowering women">
        <meta name="author", content="Himanshu">
        <meta http-equiv="Content-Type" content="text/html">
    </head> 
    <body>
	    <h1>Women Communities</h1>
		<br>
        <table class="table table-striped">
            <thead>
				<tr>
				<th scope="col">List of Women Communities in STEM</th>
				<th scope="col">Join Community</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>community.anitab.org</td>
					<td>
						<a class="btn btn-primary" href="https://community.anitab.org" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>African women in mathematics association</td>
					<td>
						<a class="btn btn-primary" href="http://africanwomeninmath.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>She codes for change</td>
					<td>
						<a class="btn btn-primary" href="http://shecodesforchange.org" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>She codes Africa</td>
					<td>
						<a class="btn btn-primary" href="https://medium.com/shecodeafrica" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Pehia Foundation</td>
					<td>
						<a class="btn btn-primary" href="https://pehia.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>WAAW Foundation</td>
					<td>
						<a class="btn btn-primary" href="http://waawfoundation.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Connecting African Women in STEM</td>
					<td>
						<a class="btn btn-primary" href="https://connectingafricanwomeninstem.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Girls Coding</td>
					<td>
						<a class="btn btn-primary" href="http://www.girlscoding.com.ng/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women in Tech Africa</td>
					<td>
						<a class="btn btn-primary" href="http://www.womenintechafrica.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women Techmakers</td>
					<td>
						<a class="btn btn-primary" href="https://www.womentechmakers.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Girls Who Code</td>
					<td>
						<a class="btn btn-primary" href="https://girlswhocode.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>DjangoGirls</td>
					<td>
						<a class="btn btn-primary" href="https://djangogirls.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Pyladies</td>
					<td>
						<a class="btn btn-primary" href="https://www.pyladies.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women Who Code</td>
					<td>
						<a class="btn btn-primary" href="https://www.womenwhocode.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>Women Who Go</td>
					<td>
						<a class="btn btn-primary" href="https://www.womenwhogo.org/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>ProjectCSgirls</td>
					<td>
						<a class="btn btn-primary" href="https://www.projectcsgirls.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>SHEROES</td>
					<td>
						<a class="btn btn-primary" href="https://sheroes.com/" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
				<tr>
					<td>The Girl Code</td>
					<td>
						<a class="btn btn-primary" href="https://thegirlcode.co/index.html" role="button" target="_blank">Join Community</a>
					</td>
				</tr>
			</tbody>
		</table>
    </body>
</html>
